::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: white;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
} */
